ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.profile {
  margin: 10px auto;
  max-width: 300px;
  border-radius: 5px;
  background-color: #ffffff;
}

.description {
  margin-bottom: 25px;
  padding-top: 10px;
}

.avatar {
  width: 150px;
  /* background-color: #fff; */
  border-radius: 50%;
}

.name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  color: black;
}

.tag,
.location {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  color: rgb(145, 145, 145);
}

.stats {
  display: flex;
  justify-content: space-around;
}

.stats > li {
  display: grid;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f2f8fa;
  outline: rgb(233, 233, 233) solid 0.5px;
}

.label {
  font-size: 14px;
  color: rgb(145, 145, 145);
}

.quantity {
  font-size: 16px;
  font-weight: 500;
}
